* {
    font-family: 'Lato', sans-serif;
    color: var(--text-default);
}

a {
    text-decoration: none;
    font-size: 2rem;
}

p {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
}

label {
    font-family: 'Teko', sans-serif;
    font-size: 2.8rem;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
}

h4 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
}

h5 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

h6 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.title-color-primary {
    color: var(--text-primary);
}

.title-color-secondary {
    color: var(--text-secondary);
}

.title-color-default {
    color: var(--text-default);
}

.title-color-alternative {
    color: var(--text-alternative);
}