* {
    font-family: 'Lato', sans-serif;
    color: var(--text-default);
}

a {
    text-decoration: none;
}

p , label {
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
}

h1 {
    font-size: 6em;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 5em;
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
}

h4 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
}

h5 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

h6 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.title-color-primary {
    color: var(--text-primary);
}

.title-color-secondary {
    color: var(--text-secondary);
}

.title-color-default {
    color: var(--text-default);
}

.title-color-alternative {
    color: var(--text-alternative);
}