#about {
    width: 100%;
}

#about button {
    background-color: var(--secondary);
    border: none;
    text-transform: uppercase;
}

#about hr {
    color: var(--secondary);
    width: 10em;
    opacity: 1;
    margin: 3em auto;
}