#contact {
    width: 100%;
    background-color: var(--primary);
}

#contact h5 {
    text-shadow: none;
}

#contact p {
    color: var(--text-alternative);
}

.social {
    font-size: 3em;
    color: var(--light);
}

.form {
    background-color: var(--light);
}

#contact label {
    font-weight: 300;
}

#contact button {
    background-color: var(--secondary);
    border: none;
    text-transform: uppercase;
}