header {
    width: 100%;
}

nav {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.823), rgba(188, 187, 187, 0.715));
    animation: slideInDown;
    animation-duration: 1.5s;
    font-size: 2rem;
}

.custom {
    height: auto;
}