#services {
    background-color: var(--primary);
}

.card:hover {
    transform: scale(1.1);
    transition: 300ms linear;
}

.card-title {
    text-shadow: none;
    color: var(--text-primary);
}

#services p {
    font-weight: 300;
    color: var(--text-primary);
}